.vs/
SegundaCinefilaTheGame2.sdf
SegundaCinefilaTheGame2.vcxproj.user
SegundaCinefilaTheGame2.VC.opendb
SegundaCinefilaTheGame2.VC.VC.opendb
SegundaCinefilaTheGame2.VC.db
Debug/
x64/
Game/SegundaCinefilaTheGame2.exe
Game/SegundaCinefilaTheGame2.iobj
Game/SegundaCinefilaTheGame2.ipdb
Game/SegundaCinefilaTheGame2.ilk
Game/SegundaCinefilaTheGame2_Debug.exe
Game/SegundaCinefilaTheGame2_Debug.iobj
Game/SegundaCinefilaTheGame2_Debug.ipdb
Game/SegundaCinefilaTheGame2_Debug.ilk